<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSEUM.S</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<nav>
    <ul>
        <li class="title">
            <a class="tit" href="/">MUSEUM.S</a>
        </li>
    </ul>
    <ul>
        <li><a class="tit" href="/info">მუზეუმები</a></li>
        <li><a class="tit" href="/artefacts">არტეფაქტები</a></li>
        <li><a class="tit" href="/contact">კონტაქტი</a></li>
        {% if current_user.role == "Admin" %}
        <li><a class="tit" href="/add_museum">მუზეუმის დამატება</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a class="tit" href="/logout">გამოსვლა</a></li>
        {% else %}
        <li><a class="tit" href="/register"><button class="btn btn-success" >რეგისტრაცია</button></a></li>
        <li><a class="tit" href="/login"><button class="btn btn-outline-success" style="--bs-btn-color: #000000;--bs-btn-border-color: #ffffff;">ავტორიზაცია</button></a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock %}

<div class="bottom_info">
    <div class="bottom_title">MUSEUM.S</div>
    <div class="bottom_decoration"></div>
    <div class="bottom_button"><a href="/contact">
        <button class="bottom_btn">დაგვეკონტაქტეთ</button>
    </a></div>
    <div class="bottom_carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for bottom_img in imgs %}
                <div class="carousel-item active">
                    <img class="bottom_carousel_img" src="/static/{{bottom_img['img']}}" alt="museum">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="bottom_rand_info">
    <pre>

  ჩვენი მეილი: MUSEUM.S@gmail.com

  ცხელი ხაზი: 123456789
    </pre>
    </div>
    <div class="TBC-bank-logo">
        {% for tbc in logo %}
         <a href="https://www.tbceducation.ge/" target="_blank" >  <img class="logo-tbc" src="/static/{{tbc['TBC-logo']}}" alt="TBC-logo"> </a>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>

